{# Marker field that triggers post-type-discovery to identify as "page" #}
{{ input({
  name: "page",
  type: "text",
  value: "true",
  label: "Page Type Marker (DEBUG - should be hidden)"
}) | indent(2) }}
